<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射,解决@ResponseBody乱码问题, 需要在annotation-driven之前,否则乱码问题同样无法解决 -->
	<!--<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">-->
		<!--&lt;!&ndash;<property name="webBindingInitializer">&ndash;&gt;-->
			<!--&lt;!&ndash;<bean class="com.fxj.core.adapter.springmvc.DataBinding" />&ndash;&gt;-->
		<!--&lt;!&ndash;</property>&ndash;&gt;-->
		<!--<property name="messageConverters">-->
			<!--<list>-->
				<!--<bean class="org.springframework.http.converter.StringHttpMessageConverter">-->
					<!--<property name="supportedMediaTypes">-->
						<!--<list>-->
							<!--<value>text/html;charset=UTF-8</value>-->
						<!--</list>-->
					<!--</property>-->
				<!--</bean>-->
			<!--</list>-->
		<!--</property>-->
	<!--</bean>-->

	<!--&lt;!&ndash; 默认的注解映射的支持 &ndash;&gt;-->
	<!--<mvc:annotation-driven>-->
	<!--</mvc:annotation-driven>-->

	<!-- 效果同上 -->
	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="UTF-8" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>



	<!-- springmvc 扫包  @Controller @Service  .....-->
	<context:component-scan base-package="com.fxj" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<!-- jsp视图 -->

	<bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="exposeRequestAttributes" value="true" />
		<property name="exposeSessionAttributes" value="true" />
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.freemarker.FreeMarkerView</value>
		</property>
		<property name="cache"><value>true</value></property>
		<!--这里需要注意一下，我注释了下面这样一行代码，这行代码的意思就是指引freemarker需要解析的文件的位置。注释掉原因是因为
         applicationContext.xml里有这样一行代码：<property name="templateLoaderPath" value="/WEB-INF/views/" /> 已经指定了视图位置。如果我们这里依然保留下方代码，页面回报406的找不到的错误 -->
		<!--<property name="prefix"><value>/WEB-INF/views/</value></property>-->
		<property name="suffix"><value>.html</value></property>
		<property name="contentType">
			<value>text/html; charset=UTF-8</value>
		</property>
	</bean>

</beans>
